body {
    margin: 0;
    padding: 0;
    background: #5f4fe9;
    color: #1E1E1F;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  }
  
#root {
    margin: 0 24px;
    position: relative;
    min-height: 100vh;
}

.notTodos {
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 48px;
    color: #ffffff;
}